__pycache__
*.exe
.vscode
tempCodeRunnerFile.cpp
tempCodeRunnerFile.h
proba.cpp
python_implementációk
latex_generator.py
prefix_trees
teszter.py
tobb_minta_teszter.py
k_diff_teszter.py
tempCodeRunnerFile.py